version: 1
disable_existing_loggers: false

formatters:
  simple:
    format: "%(asctime)s - [%(levelname)s] - %(name)s - %(message)s"

  json:
    format: '{"time": "%(asctime)s", "level": "%(levelname)s", "logger": "%(name)s", "message": "%(message)s"}'

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout

  file:
    class: logging.FileHandler
    level: DEBUG
    formatter: json
    filename: logs/app.log
    mode: a

loggers:
  appLogger:
    level: DEBUG
    handlers: [console, file]
    propagate: no

root:
  level: WARNING
  handlers: [console]
